<main class="main" id="top">
	<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block navbar-klean" data-navbar-on-scroll="data-navbar-on-scroll">
		<div class="container">
			<a class="navbar-brand d-flex align-items-center fw-semi-bold fs-3" href="{{path ('home')}}">
				<img class="me-3" src="img/gilles.png" alt=""/></a>
			<button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto pt-2 pt-lg-0 font-base">

					<li class="nav-item px-2" data-anchor="data-anchor">
						<a class="nav-link" href="{{path ('production')}}">Achievements</a>
					</li>
					<li class="nav-item px-2" data-anchor="data-anchor">
						<a class="nav-link" href="{{path ('new')}}">News</a>
					</li>
					<li class="nav-item px-2" data-anchor="data-anchor">
						<a class="nav-link" href="{{path ('portfolio')}}">Portfolio</a>
					</li>
					<li class="nav-item px-2" data-anchor="data-anchor">
						<a class="nav-link fw-medium " href="{{path ('about')}}">About Me</a>
					</li>
					<li class="nav-item px-2" data-anchor="data-anchor">
						<a class="nav-link" href="#contact">Contact</a>
					</li>
				</ul>
				<form class="ps-lg-5">
					<a class="btn btn-link text-primary fw-bold order-1 order-lg-0" href="{{path ('login')}}" type="button">Sign in</a>
					<button class="btn btn-light shadow-klean order-0" type="submit">
						<span class="text-gradient fw-bold">Sign Up</span>
					</button>
				</form>
			</div>
		</div>
	</nav>
	<br><br><br><br>
